@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

nav{
    background-color: #FFEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between; }

nav h2{
    padding: 10px;
    padding-left: 15px;
}

nav a{
    color: black;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    box-sizing: border-box;
    font-weight: 400;
    font-family: 'Roboto Condesed', sans-serif;
    letter-spacing: .02em;
    gap: 10px;
    align-items: center;
    
}

nav div{
    display: flex;
   
    gap: 30px;
}

nav i{
    display: flex;
    align-items: center;
}

#shop{
    font-weight: 300;
    color: black;
    font-size: 40px;
   
}


